confounds/
Colab/
nifti_files/
parcellation/
__pycache__/
eeg_sample_data/
medications.txt
participants.txt
eeg_data/Raw_Subset
eeg_raw_data/
emp_spec.npy
results/
eeg_metadata.csv
lossplots.ipynb
normalisedparams.ipynb
leadfield.mat
